body {margin-top:40px;color:#000;background-color:#EEEEEE;font-family:"outfit";}
.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {font-family: "Abril Fatface";font-size:80px;}
h2 {margin-bottom:30px;}
h3 {margin-bottom:70px;}
u {text-decoration-color:#8CDEDC;}
a {background-color:#8CDEDC; color:#000;text-decoration-color:#8CDEDC;}

.callout {
  background-color:#000;
  color:#EEEEEE;
  margin-top: 70px;
}
.callout a {
  color: #000;
  text-decoration-color:#000;
}
